<ul class="nav">
  <li class="nav-item profile">
    <div class="profile-desc">
      
      <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
        aria-labelledby="profile-dropdown">
        <a href="#" class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-settings text-primary"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-onepassword  text-info"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-calendar-today text-success"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
          </div>
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item nav-category">
    <span class="nav-link">Navigation</span>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/admin/index">
      <span class="menu-icon">
        <i class="mdi mdi-speedometer"></i>
      </span>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/admins">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Admin</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/users">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Users</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/villages">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Villages</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/abouts">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">About Us</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/joinpage">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">join page</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/termsandcondition">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Terms and Condition</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/slider">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Sliders</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/committee">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Committee Members</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/contacts">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Contacts Data</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/news">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">News</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/changeuserPassword">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Password Manage</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/payments">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Payments</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/faqs">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Faqs</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/plans">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Plans</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/businessListing">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Business</span>
    </a>
  </li>
  <li class="nav-item menu-items">
    <a class="nav-link" href="/settings">
      <span class="menu-icon">
        <i class="mdi mdi-playlist-play"></i>
      </span>
      <span class="menu-title">Settings</span>
    </a>
  </li>

</ul>